---
type Props = {
  href: string;
  ariaLabel?: string;
  className?: string;
  style?: string;
};

const { ariaLabel, href, className, style } = Astro.props;

const accessibilityLabel = ariaLabel
  ? ariaLabel.includes("new tab")
    ? ariaLabel
    : `${ariaLabel} (opens in a new tab)`
  : undefined;
---

<a
  href={href}
  class={className}
  style={style}
  target="_blank"
  rel="nofollow noopener noreferrer"
  aria-label={accessibilityLabel}
>
  <slot />
  {!accessibilityLabel && <span class="sr-only"> (opens in a new tab)</span>}
</a>
