---
import { Image } from "@astrojs/image/components";
import { formatDate } from "~/utils";
import ExternalLink from "~/components/ExternalLink.astro";

export interface Props {
  note: {
    title: string;
    description: string;
    date: string;
    dateRead: string;
    amazon: string;
    image: string;
    imageAlt: string;
  };
}

const {
  note: { title, description, dateRead, amazon, image, imageAlt },
} = Astro.props as Props;
---

<header>
  <div class="flex py-2 content">
    <div class="flex-1">
      <ExternalLink ariaLabel="Amazon smile book link" href={amazon}>
        <Image
          src={import(`../images/notes/${image}.jpg`)}
          alt={imageAlt}
          widths={[100, 200, 350]}
          formats={["avif", "webp"]}
          class="border-2 border-gray-200 dark:border-gray-600 mr-4 rounded object-fill"
        />
      </ExternalLink>
    </div>
    <div class="flex-1 px-2 item-body">
      <h2 class="mb-4 text-center md:text-4xl p-name lg:mb-8">
        {title}
      </h2>
    </div>
  </div>
  <div>
    <small>
      Date read:
      <time datetime={dateRead} class="italic">
        {formatDate(dateRead)}
      </time>
      <br />
      Check out <ExternalLink href={amazon}>Amazon</ExternalLink> for more details
      and reviews.
    </small>
    <p>{description}</p>
  </div>

  <hr />
</header>
