---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import ExternalLink from "~/components/ExternalLink.astro";
import { formatDate } from "~/utils";

type Props = {
  note: CollectionEntry<"notes">;
};

const { note } = Astro.props;
---

<header>
  <div class="content flex flex-col items-center gap-6 py-2 md:flex-row">
    <div class="item-body w-full md:flex-1">
      <h1
        class="p-name text-center text-3xl font-bold md:text-left md:text-4xl"
      >
        {note.data.title}
      </h1>
    </div>

    {
      note.data.image && (
        <div class="mx-auto shrink-0 md:mx-0">
          <ExternalLink
            ariaLabel="Amazon smile book link"
            href={note.data.amazon}
          >
            <Image
              src={note.data.image}
              alt={`${note.data.title} cover`}
              width={200}
              height={300}
              class="rounded-sm border-2 border-gray-200 object-contain shadow-md dark:border-gray-600"
              loading="eager"
            />
          </ExternalLink>
        </div>
      )
    }
  </div>

  <div class="mt-6">
    <small>
      <strong>Date read:</strong>
      <time datetime={note.data.dateRead.toString()} class="italic">
        {formatDate(note.data.dateRead)}
      </time>
      <br />
      Check out <ExternalLink href={note.data.amazon}>Amazon</ExternalLink> for more
      details and reviews.
    </small>
    <p class="mt-4 leading-relaxed">{note.data.description}</p>
  </div>

  <hr aria-hidden="true" />
</header>
