---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import ExternalLink from "~/components/ExternalLink.astro";
import { formatDate } from "~/utils";

type Props = {
  note: CollectionEntry<"notes">;
};

const { note } = Astro.props;
---

<header>
  <div class="content flex py-2">
    {
      note.data.image && (
        <div class="flex-1">
          <ExternalLink
            ariaLabel="Amazon smile book link"
            href={note.data.amazon}
          >
            <Image
              src={note.data.image}
              alt={`${note.data.title} cover`}
              class="mr-4 rounded border-2 border-gray-200 object-fill dark:border-gray-600"
              loading="eager"
            />
          </ExternalLink>
        </div>
      )
    }
    <div class="item-body flex-1 px-2">
      <h2 class="p-name mb-4 text-center md:text-4xl lg:mb-8">
        {note.data.title}
      </h2>
    </div>
  </div>
  <div>
    <small>
      Date read:
      <time datetime={note.data.dateRead.toString()} class="italic">
        {formatDate(note.data.dateRead)}
      </time>
      <br />
      Check out <ExternalLink href={note.data.amazon}>Amazon</ExternalLink> for more
      details and reviews.
    </small>
    <p>{note.data.description}</p>
  </div>

  <hr />
</header>
