---
import { Picture } from "@astrojs/image/components";
import type { CollectionEntry } from "astro:content";

type Props = {
  post:
    | CollectionEntry<"essays">
    | CollectionEntry<"fiction">
    | CollectionEntry<"notes">;
  imageDir: string;
};

const { post, imageDir } = Astro.props;
const imageAlt = post.data.imageAlt || "";
---

<div
  class="w-full h-full flex flex-col rounded-lg shadow-lg overflow-hidden bg-white dark:bg-dark-light"
>
  {
    post.data.image && (
      <div class="flex-shrink-0">
        <Picture
          src={import(`../images/${imageDir}/${post.data.image}.jpg`)}
          alt={imageAlt}
          widths={[300, 500]}
          sizes="(max-width: 300px)"
          formats={["avif", "webp"]}
          class="h-48 w-full object-cover"
        />
      </div>
    )
  }
  <div class="flex-1 p-6 flex flex-col justify-between">
    <div class="flex-1">
      <div class="block mt-2">
        <p
          class="text-xl font-semibold text-brand-red dark:text-brand-red-dark hover:text-gray-900 dark:hover:text-white"
        >
          {post.data.title}
        </p>
        <p class="mt-3 text-base dark:text-gray-400">{post.data.description}</p>
      </div>
    </div>
    <div class="mt-6">
      <p
        class="text-brand-red hover:text-black dark:text-white dark:hover:text-brand-red-dark"
      >
        Read More
      </p>
    </div>
  </div>
</div>
