---
import type { CollectionEntry } from "astro:content";
import PostsCard from "~/components/PostsCard.astro";

type Props = {
  posts:
    | CollectionEntry<"essays">[]
    | CollectionEntry<"fiction">[]
    | CollectionEntry<"notes">[];
  prefix?: string;
};

const { posts, prefix } = Astro.props;
---

<div class="relative mx-auto max-w-7xl">
  <ul class="mx-auto mt-12 grid max-w-lg gap-7 lg:max-w-none lg:grid-cols-3">
    {
      posts.map((post) => {
        const postUrl = prefix ? `/${prefix}/${post.id}` : `/${post.id}`;

        return (
          <li class="group flex flex-col">
            <article class="dark:bg-dark-light flex flex-1 transform flex-col rounded-lg shadow-lg transition-all duration-500 hover:scale-105 hover:cursor-pointer hover:shadow-2xl dark:hover:shadow-stone-900">
              <a
                href={postUrl}
                class="focus:ring-brand-red block h-full rounded-lg no-underline focus:ring-2 focus:ring-offset-4 focus:outline-none"
              >
                <PostsCard post={post} />
              </a>
            </article>
          </li>
        );
      })
    }
  </ul>
</div>
