---
import type { CollectionEntry } from "astro:content";
import PostsCard from "~/components/PostsCard.astro";

type Props = {
  posts:
    | CollectionEntry<"essays">[]
    | CollectionEntry<"fiction">[]
    | CollectionEntry<"notes">[];
  prefix?: string;
};

const { posts, prefix } = Astro.props;
---

<div class="relative mx-auto max-w-7xl">
  <div class="mx-auto mt-12 grid max-w-lg gap-7 lg:max-w-none lg:grid-cols-3">
    {
      posts.map((post) => (
        <div class="transform rounded-lg shadow-lg transition-all duration-500 hover:scale-105 hover:cursor-pointer hover:shadow-2xl dark:bg-dark-light dark:hover:shadow-stone-900">
          {prefix ? (
            <a
              href={`/${prefix}/${post.slug}`}
              aria-label={`Read ${post.data.title}`}
            >
              <PostsCard post={post} />
            </a>
          ) : (
            <a href={`/${post.slug}`} aria-label={`Read ${post.data.title}`}>
              <PostsCard post={post} />
            </a>
          )}
        </div>
      ))
    }
  </div>
</div>
