---
import { Image } from 'astro:assets'
import AppTitle from "~/components/AppTitle.astro";
import ExternalLink from "~/components/ExternalLink.astro";
import avatar from "~/assets/avatar@2x.png"
import { formatDate } from "~/utils/index";
import site from "~/config/site";

const { twitterUsername } = site;

type Props = {
  date: string;
  title: string;
};

const { date, title } = Astro.props;
---

<header>
  <div class="mb-8 lg:prose-lg">
    <AppTitle>{title}</AppTitle>
  </div>

  <div class="flex justify-center">
    <time
      datetime={date}
      class="block text-center text-sm italic text-gray-600 dark:text-gray-400"
    >
      {formatDate(date)}
    </time>
  </div>

  <div class="flex justify-center">
    <div class="flex items-center space-x-2">
      <Image
        src={avatar}
        alt="Piotr Stojanow avatar"
        height={avatar.height}
        width={avatar.width}
        class="w-10 h-10 mx-auto rounded-full"
      />

      <dl class="whitespace-nowrap text-sm font-medium text-gray-700">
        <dt class="sr-only">Name</dt>
        <dd>
          <p class="m-0 text-gray-700 no-underline dark:text-gray-300">
            Piotr Stojanow
          </p>
        </dd>
        <dt class="sr-only">Twitter</dt>
        <dd>
          <ExternalLink
            href={`https://twitter.com/${twitterUsername}`}
            className="no-underline text-primary-600 hover:text-primary-700"
          >
            @piotrstojanow
          </ExternalLink>
        </dd>
      </dl>
    </div>
  </div>

  <hr />
</header>
