---
import ExternalLink from "~/components/ExternalLink.astro";
import RiMailSendLine from "~icons/ri/mail-send-line";
import RiTwitterLine from "~icons/ri/twitter-line";
import RiGithubLine from "~icons/ri/github-line";
import RiBookReadLine from "~icons/ri/book-read-line";
import RiBook2Line from "~icons/ri/book-2-line";
import RiBellLine from "~icons/ri/bell-line";
import { COPYRIGHT_ENTITY } from "~/constants/entities";
import site from "~/config/site";

const { author, githubUsername, twitterUsername } = site;

const footerItems = [
  {
    label: "contact",
    href: "/contact",
    icon: RiMailSendLine,
    externalLink: false,
  },
  {
    label: "twitter",
    href: `https://twitter.com/${twitterUsername}`,
    icon: RiTwitterLine,
    externalLink: true,
  },
  {
    label: "github",
    href: `https://github.com/${githubUsername}`,
    icon: RiGithubLine,
    externalLink: true,
  },
  {
    label: "TIL",
    href: `/til`,
    icon: RiBookReadLine,
    externalLink: false,
  },
  {
    label: "wiki",
    href: "https://wiki.stojanow.com",
    icon: RiBook2Line,
    externalLink: true,
  },
  {
    label: "subscribe",
    href: "/subscribe",
    icon: RiBellLine,
    externalLink: false,
  },
];
---

<footer class="mx-auto mt-auto max-w-3xl px-4 pb-8 pt-8 md:pt-0">
  <div class="mx-auto py-12">
    <div
      class="flex flex-wrap items-baseline justify-center text-brand-red dark:text-brand-red-dark"
    >
      {
        footerItems.map((item) => {
          {
            return item.externalLink ? (
              <ExternalLink
                href={`${item.href}`}
                className="flex items-center space-x-1 border-0 p-2 no-underline filter hover:brightness-125 sm:mr-2"
              >
                {<item.icon />}{" "}
                <span class="text-zinc-600 dark:text-zinc-400">
                  {item.label}
                  <span />
                </span>
              </ExternalLink>
            ) : (
              <a
                href={`${item.href}`}
                class="flex items-center space-x-1 border-0 p-2 no-underline filter hover:brightness-125 sm:mr-2"
              >
                {<item.icon />}{" "}
                <span class="text-zinc-600 dark:text-zinc-400">
                  {item.label}
                  <span />
                </span>
              </a>
            );
          }
        })
      }
    </div>

    <div
      class="m-0 block p-2 text-center text-xs leading-normal text-zinc-600 dark:text-zinc-400"
    >
      <a
        href="/copyright"
        class="text-brand-red filter hover:brightness-125 dark:text-brand-red-dark"
        >CC BY-NC 4.0
      </a>
      {`${COPYRIGHT_ENTITY} ${author}`}
    </div>
  </div>
</footer>
