---
import { Image } from "astro:assets";
import AppButton from "~/components/AppButton.astro";
import TheNodes from "~/components/TheNodes.astro";
import ExternalLink from "./ExternalLink.astro";
import site from "../config/site";
import avatar from "~/assets/avatar@2x.png";

const { author, twitterUsername } = site;

const heroCTA = "Start Here";
---

<section class="overflow-hidden py-12 md:py-20 lg:py-24">
  <TheNodes />
  <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="relative">
      <blockquote class="text-zinc-900 dark:text-zinc-50">
        <div class="mb-4 flex items-center justify-center">
          <Image
            src={avatar}
            alt={`${author}'s avatar`}
            height={avatar.height}
            width={avatar.width}
            class="mx-auto h-14 w-14 rounded-full md:h-20 md:w-20"
          />
        </div>
        <div
          class="mx-auto grid max-w-3xl place-items-center text-center text-lg leading-9 font-medium md:text-2xl xl:text-3xl"
        >
          <p>
            Hi, I’m
            <ExternalLink
              href={`https://twitter.com/${twitterUsername}`}
              className="text-brand-red dark:text-brand-red-dark filter hover:brightness-125"
            >
              {author}<span class="text-zinc-900 dark:text-zinc-50">.</span>
            </ExternalLink> I write on the intersection of technology and history.
            Want to learn more about me?
          </p>
          <a href="/essays" class="mt-4">
            <AppButton cta={heroCTA} />
          </a>
        </div>
      </blockquote>
    </div>
  </div>
</section>
