---
import BaseHead from "../components/BaseHead.astro";
import BlogPost from "../layouts/BlogPost.astro";

const { content } = Astro.props;
const { title, description, publishDate, heroImage, permalink } = content;
---

<!DOCTYPE html>
<html lang={content.lang || "en"}>
  <head>
    <BaseHead
      title={title}
      description={description}
      permalink={permalink}
      ogImageUrl={heroImage}
      publishDate={publishDate}
    />
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <main
      itemscope
      itemprop="mainContentOfPage"
      itemtype="http://schema.org/Blog"
      tabindex="-1"
    >
      <BlogPost content={content}>
        <slot />
      </BlogPost>
    </main>
  </body>
</html>
